#### Data Set Information:

This is a transnational data set which contains all the transactions occurring between 01/12/2010 and 09/12/2011 for a UK-based and registered non-store online retail.The company mainly sells unique all-occasion gifts. Many customers of the company are wholesalers.


#### Attribute Information:
**InvoiceNo:** Invoice number. Nominal, a 6-digit integral number uniquely assigned to each         transaction. If this code starts with letter 'c', it indicates a cancellation.  
       
**StockCode:** Product (item) code. Nominal, a 5-digit integral number uniquely assigned to each distinct product.         
       
**Description:** Product (item) name. Nominal.   
        
**Quantity:** The quantities of each product (item) per transaction. Numeric.    
        
**InvoiceDate:** Invoice Date and time. Numeric, the day and time when each transaction was generated.      
       
**UnitPrice:** Unit price. Numeric, Product price per unit in sterling.      
      
**CustomerID:** Customer number. Nominal, a 5-digit integral number uniquely assigned to each customer.      
        
**Country:** Country name. Nominal, the name of the country where each customer resides.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime as dt
import seaborn as sns

In [2]:
dat = pd.read_csv("data.csv", encoding= 'unicode_escape')

pd.set_option('display.max_columns', 500)

#dat.info()

### Data Exploration

In [3]:
dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [4]:
dat.head(20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,12/1/2010 8:34,3.75,13047.0,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,12/1/2010 8:34,1.65,13047.0,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,12/1/2010 8:34,4.25,13047.0,United Kingdom
15,536367,22623,BOX OF VINTAGE JIGSAW BLOCKS,3,12/1/2010 8:34,4.95,13047.0,United Kingdom
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,12/1/2010 8:34,9.95,13047.0,United Kingdom
17,536367,21754,HOME BUILDING BLOCK WORD,3,12/1/2010 8:34,5.95,13047.0,United Kingdom
18,536367,21755,LOVE BUILDING BLOCK WORD,3,12/1/2010 8:34,5.95,13047.0,United Kingdom
19,536367,21777,RECIPE BOX WITH METAL HEART,4,12/1/2010 8:34,7.95,13047.0,United Kingdom

Given the initial look of the data, We can see that the data is made up of various transactions with a seperate transaction for each Description. There are some changes that need to made with the data types of the CustomerID and InvoiceDate columns.
        
**InvoiceDate** should be *datetime64* rather than *object* Dtype        
**CustomerID** should be *object* type rather than *float64* Dtype

In [5]:
dat['InvoiceDate'] = pd.to_datetime(dat['InvoiceDate'])
dat.CustomerID = dat.CustomerID.astype(object)
dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  object
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 33.1+ MB

Now I want to see if there are any missing values in the dataset that may cause problems for our analysis

In [6]:
dat.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [7]:
dat.isnull().sum() / dat.shape[0] * 100

InvoiceNo       0.000000
StockCode       0.000000
Description     0.268311
Quantity        0.000000
InvoiceDate     0.000000
UnitPrice       0.000000
CustomerID     24.926694
Country         0.000000
dtype: float64

We have almost 25% of the CustomerID column missing and less than 1% of the Description column missing. I will check to see if the rows with missing Description values are also missing CustomerID values to eliminate unnecessary work.

In [8]:
pd.set_option('display.max_rows', 50000)
null_data = dat[dat.isnull().any(axis=1)]
null_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 135080 entries, 622 to 541540
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    135080 non-null  object
 1   StockCode    135080 non-null  object
 2   Description  133626 non-null  object
 3   Quantity     135080 non-null  int64
 4   InvoiceDate  135080 non-null  datetime64[ns]
 5   UnitPrice    135080 non-null  float64
 6   CustomerID   0 non-null       object
 7   Country      135080 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 9.3+ MB

It appears that all the missing values for the Description column are also missing CustomerID values so lets take a look at the rows where both values are missing

In [9]:
null_data = dat[dat['Description'].isnull()]
null_data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,2010-12-01 11:52:00,0.0,NaN,United Kingdom
1970,536545,21134,NaN,1,2010-12-01 14:32:00,0.0,NaN,United Kingdom
1971,536546,22145,NaN,1,2010-12-01 14:33:00,0.0,NaN,United Kingdom
1972,536547,37509,NaN,1,2010-12-01 14:33:00,0.0,NaN,United Kingdom
1987,536549,85226A,NaN,1,2010-12-01 14:34:00,0.0,NaN,United Kingdom
1988,536550,85044,NaN,1,2010-12-01 14:34:00,0.0,NaN,United Kingdom
2024,536552,20950,NaN,1,2010-12-01 14:34:00,0.0,NaN,United Kingdom
2025,536553,37461,NaN,3,2010-12-01 14:35:00,0.0,NaN,United Kingdom
2026,536554,84670,NaN,23,2010-12-01 14:35:00,0.0,NaN,United Kingdom
2406,536589,21777,NaN,-10,2010-12-01 16:50:00,0.0,NaN,United Kingdom
4347,536764,84952C,NaN,-38,2010-12-02 14:42:00,0.0,NaN,United Kingdom
4348,536765,84952C,NaN,19,2010-12-02 14:43:00,0.0,NaN,United Kingdom
7187,536995,35951,NaN,57,2010-12-03 15:29:00,0.0,NaN,United Kingdom
7188,536996,22712,NaN,-20,2010-12-03 15:30:00,0.0,NaN,United Kingdom
7189,536997,22028,NaN,-20,2010-12-03 15:30:00,0.0,NaN,United Kingdom
7190,536998,85067,NaN,-6,2010-12-03 15:30:00,0.0,NaN,United Kingdom
7191,536999,21421,NaN,110,2010-12-03 15:32:00,0.0,NaN,United Kingdom
7192,537000,21414,NaN,-22,2010-12-03 15:32:00,0.0,NaN,United Kingdom
7193,537001,21653,NaN,-6,2010-12-03 15:33:00,0.0,NaN,United Kingdom
7194,537002,21651,NaN,70,2010-12-03 15:33:00,0.0,NaN,United Kingdom
7195,537003,85126,NaN,-2,2010-12-03 15:33:00,0.0,NaN,United Kingdom
7196,537004,21814,NaN,-30,2010-12-03 15:34:00,0.0,NaN,United Kingdom
7197,537005,21692,NaN,-70,2010-12-03 15:35:00,0.0,NaN,United Kingdom
7198,537006,21648,NaN,-130,2010-12-03 15:36:00,0.0,NaN,United Kingdom
7199,537007,21172,NaN,-80,2010-12-03 15:36:00,0.0,NaN,United Kingdom
7200,537008,21161,NaN,-120,2010-12-03 15:37:00,0.0,NaN,United Kingdom
7201,537009,84534B,NaN,-80,2010-12-03 15:38:00,0.0,NaN,United Kingdom
7202,537010,22162,NaN,-40,2010-12-03 15:38:00,0.0,NaN,United Kingdom
7203,537011,22139,NaN,-5,2010-12-03 15:38:00,0.0,NaN,United Kingdom
7204,537012,21535,NaN,-12,2010-12-03 15:39:00,0.0,NaN,United Kingdom
7205,537013,35965,NaN,-25,2010-12-03 15:40:00,0.0,NaN,United Kingdom
7206,537014,21040,NaN,-20,2010-12-03 15:40:00,0.0,NaN,United Kingdom
7207,537015,37464,NaN,-14,2010-12-03 15:41:00,0.0,NaN,United Kingdom
7208,537016,21836,NaN,-15,2010-12-03 15:41:00,0.0,NaN,United Kingdom
7209,537017,47556B,NaN,-69,2010-12-03 15:41:00,0.0,NaN,United Kingdom
7210,537018,84562A,NaN,-3,2010-12-03 15:42:00,0.0,NaN,United Kingdom
7211,537019,37474,NaN,-15,2010-12-03 15:43:00,0.0,NaN,United Kingdom
7212,537020,21807,NaN,-30,2010-12-03 15:43:00,0.0,NaN,United Kingdom
7213,537021,21011,NaN,-20,2010-12-03 15:43:00,0.0,NaN,United Kingdom
7291,537027,18098C,NaN,-140,2010-12-03 16:36:00,0.0,NaN,United Kingdom
7292,537028,21696,NaN,-320,2010-12-03 16:36:00,0.0,NaN,United Kingdom
7293,537029,37476,NaN,-6,2010-12-03 16:37:00,0.0,NaN,United Kingdom
12008,537361,21777,NaN,5,2010-12-06 12:34:00,0.0,NaN,United Kingdom
12069,537363,84569B,NaN,-20,2010-12-06 12:35:00,0.0,NaN,United Kingdom
12070,537364,21027,NaN,-70,2010-12-06 12:36:00,0.0,NaN,United Kingdom
12934,537401,84898F,NaN,-24,2010-12-06 14:37:00,0.0,NaN,United Kingdom
13219,537427,84968B,NaN,-21,2010-12-06 15:37:00,0.0,NaN,United Kingdom
13263,537430,85215,NaN,120,2010-12-06 16:05:00,0.0,NaN,United Kingdom
13959,537436,84270,NaN,7,2010-12-06 17:00:00,0.0,NaN,United Kingdom
13960,537437,90167,NaN,10,2010-12-06 17:00:00,0.0,NaN,United Kingdom
13961,537438,22959,NaN,13,2010-12-06 17:00:00,0.0,NaN,United Kingdom
13962,537439,37474,NaN,1,2010-12-06 17:01:00,0.0,NaN,United Kingdom
14060,537449,21054,NaN,-30,2010-12-07 09:26:00,0.0,NaN,United Kingdom
14061,537450,20684,NaN,-19,2010-12-07 09:26:00,0.0,NaN,United Kingdom
14062,537451,84881,NaN,-11,2010-12-07 09:27:00,0.0,NaN,United Kingdom
14063,537452,20941,NaN,-24,2010-12-07 09:28:00,0.0,NaN,United Kingdom
14064,537453,21248,NaN,-18,2010-12-07 09:28:00,0.0,NaN,United Kingdom
14065,537454,21349,NaN,-44,2010-12-07 09:30:00,0.0,NaN,United Kingdom
14066,537455,22155,NaN,-70,2010-12-07 09:31:00,0.0,NaN,United Kingdom
14217,537466,21488,NaN,-50,2010-12-07 10:33:00,0.0,NaN,United Kingdom
17158,537687,84840,NaN,-9,2010-12-08 10:26:00,0.0,NaN,United Kingdom
19599,537870,21486,NaN,-77,2010-12-08 17:08:00,0.0,NaN,United Kingdom
19625,537872,21595,NaN,1,2010-12-08 18:07:00,0.0,NaN,United Kingdom
19626,537873,37461,NaN,1,2010-12-08 18:07:00,0.0,NaN,United Kingdom
19627,537874,85170A,NaN,1,2010-12-08 18:07:00,0.0,NaN,United Kingdom
19628,537875,20849,NaN,1,2010-12-08 18:08:00,0.0,NaN,United Kingdom
19629,537876,84977,NaN,2,2010-12-08 18:08:00,0.0,NaN,United Kingdom
19630,537877,21661,NaN,1,2010-12-08 18:08:00,0.0,NaN,United Kingdom
19631,537878,72803B,NaN,1,2010-12-08 18:09:00,0.0,NaN,United Kingdom
19996,537999,22034,NaN,-223,2010-12-09 11:44:00,0.0,NaN,United Kingdom
19999,538001,35958,NaN,10,2010-12-09 11:45:00,0.0,NaN,United Kingdom
20037,538004,22114,NaN,144,2010-12-09 12:11:00,0.0,NaN,United Kingdom
20324,538036,21690,NaN,34,2010-12-09 13:04:00,0.0,NaN,United Kingdom
20330,538038,21488,NaN,8,2010-12-09 13:07:00,0.0,NaN,United Kingdom
20331,538039,22139,NaN,7,2010-12-09 13:07:00,0.0,NaN,United Kingdom
20392,538041,22145,NaN,30,2010-12-09 13:09:00,0.0,NaN,United Kingdom
20393,538042,21763,NaN,-4,2010-12-09 13:10:00,0.0,NaN,United Kingdom
20394,538043,22833,NaN,-1,2010-12-09 13:10:00,0.0,NaN,United Kingdom
20398,538045,84688,NaN,27,2010-12-09 13:11:00,0.0,NaN,United Kingdom
20399,538046,85008,NaN,-15,2010-12-09 13:12:00,0.0,NaN,United Kingdom
20400,538047,21429,NaN,-70,2010-12-09 13:13:00,0.0,NaN,United Kingdom
20469,538054,85167B,NaN,-24,2010-12-09 13:34:00,0.0,NaN,United Kingdom
20470,538055,22454,NaN,-20,2010-12-09 13:34:00,0.0,NaN,United Kingdom
20506,538058,20966,NaN,-150,2010-12-09 13:38:00,0.0,NaN,United Kingdom
20522,538061,21801,NaN,-38,2010-12-09 13:39:00,0.0,NaN,United Kingdom
21349,538074,21743,NaN,-80,2010-12-09 14:11:00,0.0,NaN,United Kingdom
21520,538092,37467,NaN,-177,2010-12-09 14:49:00,0.0,NaN,United Kingdom
21777,538128,21357,NaN,46,2010-12-09 15:54:00,0.0,NaN,United Kingdom
21778,538129,84497,NaN,79,2010-12-09 15:55:00,0.0,NaN,United Kingdom
21779,538130,90042C,NaN,10,2010-12-09 15:55:00,0.0,NaN,United Kingdom
21780,538131,17091A,NaN,84,2010-12-09 15:56:00,0.0,NaN,United Kingdom
21781,538132,84773,NaN,3,2010-12-09 15:56:00,0.0,NaN,United Kingdom
21782,538133,85018C,NaN,3,2010-12-09 15:56:00,0.0,NaN,United Kingdom
21783,538134,20878,NaN,2,2010-12-09 15:56:00,0.0,NaN,United Kingdom
21784,538135,21186,NaN,2,2010-12-09 15:56:00,0.0,NaN,United Kingdom
21785,538136,37509,NaN,2,2010-12-09 15:57:00,0.0,NaN,United Kingdom
21786,538137,62095B,NaN,2,2010-12-09 15:57:00,0.0,NaN,United Kingdom
21787,538138,72814,NaN,2,2010-12-09 15:57:00,0.0,NaN,United Kingdom
21788,538139,84802A,NaN,2,2010-12-09 15:57:00,0.0,NaN,United Kingdom
21789,538140,90002D,NaN,9,2010-12-09 15:57:00,0.0,NaN,United Kingdom
21790,538141,22218,NaN,2,2010-12-09 15:58:00,0.0,NaN,United Kingdom
21791,538142,84247C,NaN,1,2010-12-09 15:58:00,0.0,NaN,United Kingdom
21792,538143,84534B,NaN,1,2010-12-09 15:58:00,0.0,NaN,United Kingdom
21793,538144,90042B,NaN,1,2010-12-09 15:58:00,0.0,NaN,United Kingdom
22293,538158,20892,NaN,-32,2010-12-09 17:17:00,0.0,NaN,United Kingdom
22294,538159,21324,NaN,-18,2010-12-09 17:17:00,0.0,NaN,United Kingdom
22295,538160,20956,NaN,288,2010-12-09 17:18:00,0.0,NaN,United Kingdom
22534,538173,22353,NaN,-28,2010-12-10 09:35:00,0.0,NaN,United Kingdom
23764,538241,21431,NaN,-21,2010-12-10 12:00:00,0.0,NaN,United Kingdom
23765,538247,79067,NaN,-145,2010-12-10 12:09:00,0.0,NaN,United Kingdom
23804,538249,85084,NaN,25,2010-12-10 12:19:00,0.0,NaN,United Kingdom
25215,538359,35958,NaN,2,2010-12-10 16:29:00,0.0,NaN,United Kingdom
25216,538360,35004P,NaN,1,2010-12-10 16:29:00,0.0,NaN,United Kingdom
29972,538837,85135B,NaN,-40,2010-12-14 13:10:00,0.0,NaN,United Kingdom
30364,538861,22444,NaN,460,2010-12-14 14:04:00,0.0,NaN,United Kingdom
31226,538906,21895,NaN,-5,2010-12-15 10:31:00,0.0,NaN,United Kingdom
34608,539413,22959,NaN,12,2010-12-17 13:44:00,0.0,NaN,United Kingdom
38262,539495,22591,NaN,36,2010-12-20 10:37:00,0.0,NaN,United Kingdom
38539,539582,71477,NaN,8,2010-12-20 12:53:00,0.0,NaN,United Kingdom
38540,539583,35400,NaN,1,2010-12-20 12:53:00,0.0,NaN,United Kingdom
38541,539584,21491,NaN,1,2010-12-20 12:54:00,0.0,NaN,United Kingdom
38542,539585,21009,NaN,1,2010-12-20 12:54:00,0.0,NaN,United Kingdom
39369,539638,22139,NaN,1,2010-12-20 15:23:00,0.0,NaN,United Kingdom
40947,539749,22734,NaN,30,2010-12-21 15:33:00,0.0,NaN,United Kingdom
42289,539980,35001W,NaN,-36,2010-12-23 14:34:00,0.0,NaN,United Kingdom
42498,539994,22830,NaN,-1,2011-01-04 10:09:00,0.0,NaN,United Kingdom
42499,539995,85064,NaN,-12,2011-01-04 10:12:00,0.0,NaN,United Kingdom
42500,539996,21784,NaN,-10,2011-01-04 10:12:00,0.0,NaN,United Kingdom
42501,539997,84689,NaN,5,2011-01-04 10:15:00,0.0,NaN,United Kingdom
42502,539998,84675,NaN,2,2011-01-04 10:16:00,0.0,NaN,United Kingdom
42503,539999,20892,NaN,-1,2011-01-04 10:16:00,0.0,NaN,United Kingdom
42504,540000,84499,NaN,-9,2011-01-04 10:17:00,0.0,NaN,United Kingdom
42562,540008,85230F,NaN,-48,2011-01-04 11:10:00,0.0,NaN,United Kingdom
42563,540009,22158,NaN,-120,2011-01-04 11:10:00,0.0,NaN,United Kingdom
42565,540011,22501,NaN,30,2011-01-04 11:13:00,0.0,NaN,United Kingdom
42711,540018,90112,NaN,2,2011-01-04 12:07:00,0.0,NaN,United Kingdom
43704,540119,22865,NaN,-60,2011-01-05 10:07:00,0.0,NaN,United Kingdom
44863,540241,35957,NaN,-939,2011-01-05 15:17:00,0.0,NaN,United Kingdom
45150,540252,22198,NaN,-100,2011-01-05 16:25:00,0.0,NaN,United Kingdom
45394,540256,35957,NaN,35,2011-01-05 17:21:00,0.0,NaN,United Kingdom
45623,540272,90096,NaN,-54,2011-01-06 11:57:00,0.0,NaN,United Kingdom
46883,540369,47591D,NaN,-201,2011-01-06 16:20:00,0.0,NaN,United Kingdom
50151,540549,21587,NaN,-53,2011-01-10 09:07:00,0.0,NaN,United Kingdom
50808,540560,21589,NaN,-14,2011-01-10 10:08:00,0.0,NaN,United Kingdom
51048,540637,21275,NaN,-5,2011-01-10 12:13:00,0.0,NaN,United Kingdom
51672,540650,85124C,NaN,-8,2011-01-10 14:59:00,0.0,NaN,United Kingdom
51760,540676,84534B,NaN,12,2011-01-10 16:05:00,0.0,NaN,United Kingdom
51761,540677,21667,NaN,1,2011-01-10 16:20:00,0.0,NaN,United Kingdom
51762,540678,21667,NaN,-1,2011-01-10 16:21:00,0.0,NaN,United Kingdom
51763,540679,21667,NaN,-1,2011-01-10 16:21:00,0.0,NaN,United Kingdom
52094,540683,84546,NaN,-45,2011-01-10 17:00:00,0.0,NaN,United Kingdom
52095,540684,35271S,NaN,-13,2011-01-10 17:01:00,0.0,NaN,United Kingdom
52214,540693,82605,NaN,1,2011-01-11 09:13:00,0.0,NaN,United Kingdom
52215,540694,71477,NaN,1,2011-01-11 09:13:00,0.0,NaN,United Kingdom
52216,540695,21661,NaN,1,2011-01-11 09:14:00,0.0,NaN,United Kingdom
52217,540696,84562A,NaN,1,2011-01-11 09:14:00,0.0,NaN,United Kingdom
52262,540699,POST,NaN,1000,2011-01-11 09:32:00,0.0,NaN,United Kingdom
52379,540778,84029E,NaN,-50,2011-01-11 11:15:00,0.0,NaN,United Kingdom
55270,540982,22323,NaN,1,2011-01-12 15:35:00,0.0,NaN,United Kingdom
55319,540987,17011A,NaN,-61,2011-01-12 16:15:00,0.0,NaN,United Kingdom
55837,541000,21632,NaN,-41,2011-01-13 10:11:00,0.0,NaN,United Kingdom
61702,541482,22837,NaN,-35,2011-01-18 12:32:00,0.0,NaN,United Kingdom
61838,541487,85118,NaN,-35,2011-01-18 13:19:00,0.0,NaN,United Kingdom
63099,541519,21429,NaN,-15,2011-01-19 09:11:00,0.0,NaN,United Kingdom
64320,541600,22866,NaN,-64,2011-01-19 16:48:00,0.0,NaN,United Kingdom
64321,541601,22632,NaN,-84,2011-01-19 16:48:00,0.0,NaN,United Kingdom
65876,541697,21632,NaN,8,2011-01-20 18:09:00,0.0,NaN,United Kingdom
65943,541702,22451,NaN,-30,2011-01-21 09:44:00,0.0,NaN,United Kingdom
66518,541802,20854,NaN,-80,2011-01-21 14:45:00,0.0,NaN,United Kingdom
69215,541967,84823,NaN,-3,2011-01-24 13:35:00,0.0,NaN,United Kingdom
71633,542156,21348,NaN,8,2011-01-26 10:52:00,0.0,NaN,United Kingdom
73590,542362,20699,NaN,-16,2011-01-27 12:49:00,0.0,NaN,United Kingdom
73591,542363,84823,NaN,1,2011-01-27 12:50:00,0.0,NaN,United Kingdom
73592,542364,21324,NaN,5,2011-01-27 12:50:00,0.0,NaN,United Kingdom
73593,542365,21897,NaN,-22,2011-01-27 12:51:00,0.0,NaN,United Kingdom
73604,542367,82583,NaN,-30,2011-01-27 12:57:00,0.0,NaN,United Kingdom
73605,542368,85188B,NaN,-70,2011-01-27 12:59:00,0.0,NaN,United Kingdom
73752,542378,84279B,NaN,192,2011-01-27 13:56:00,0.0,NaN,United Kingdom
73753,542379,35922,NaN,-30,2011-01-27 13:58:00,0.0,NaN,United Kingdom
73754,542380,84917,NaN,-50,2011-01-27 13:59:00,0.0,NaN,United Kingdom
73849,542391,84455,NaN,-31,2011-01-27 14:54:00,0.0,NaN,United Kingdom
73850,542392,84227,NaN,-2,2011-01-27 14:56:00,0.0,NaN,United Kingdom
73934,542394,84452,NaN,65,2011-01-27 15:11:00,0.0,NaN,United Kingdom
73935,542396,22146,NaN,-4,2011-01-27 15:12:00,0.0,NaN,United Kingdom
74283,542414,84967A,NaN,-2,2011-01-27 17:15:00,0.0,NaN,United Kingdom
74284,542415,84967B,NaN,-1,2011-01-27 17:15:00,0.0,NaN,United Kingdom
74287,542417,84966B,NaN,-11,2011-01-27 17:38:00,0.0,NaN,United Kingdom
74288,542418,84966A,NaN,-17,2011-01-27 17:39:00,0.0,NaN,United Kingdom
74614,542504,37413,NaN,5568,2011-01-28 12:03:00,0.0,NaN,United Kingdom
74615,542505,79063D,NaN,2560,2011-01-28 12:04:00,0.0,NaN,United Kingdom
74642,542507,20798,NaN,5,2011-01-28 12:06:00,0.0,NaN,United Kingdom
74643,542508,37467,NaN,136,2011-01-28 12:06:00,0.0,NaN,United Kingdom
74644,542509,85049B,NaN,3,2011-01-28 12:07:00,0.0,NaN,United Kingdom
74645,542510,21667,NaN,2,2011-01-28 12:07:00,0.0,NaN,United Kingdom
74655,542512,22830,NaN,2,2011-01-28 12:07:00,0.0,NaN,United Kingdom
74656,542513,75013B,NaN,2,2011-01-28 12:08:00,0.0,NaN,United Kingdom
74657,542514,22866,NaN,1,2011-01-28 12:08:00,0.0,NaN,United Kingdom
74658,542515,35607A,NaN,1,2011-01-28 12:08:00,0.0,NaN,United Kingdom
74659,542516,71477,NaN,4,2011-01-28 12:08:00,0.0,NaN,United Kingdom
74668,542518,22184,NaN,-13,2011-01-28 12:17:00,0.0,NaN,United Kingdom
74825,542529,DCGS0055,NaN,-1,2011-01-28 13:08:00,0.0,NaN,United Kingdom
74838,542531,DCGS0072,NaN,-1,2011-01-28 13:08:00,0.0,NaN,United Kingdom
74839,542532,DCGS0074,NaN,-1,2011-01-28 13:09:00,0.0,NaN,United Kingdom
75220,542544,17165D,NaN,-10,2011-01-28 14:43:00,0.0,NaN,United Kingdom
75221,542545,17165D,NaN,9,2011-01-28 14:44:00,0.0,NaN,United Kingdom
75222,542546,20734,NaN,-1,2011-01-28 14:44:00,0.0,NaN,United Kingdom
75223,542547,20864,NaN,-1,2011-01-28 14:45:00,0.0,NaN,United Kingdom
75224,542548,20892,NaN,-1,2011-01-28 14:45:00,0.0,NaN,United Kingdom
75226,542550,20910,NaN,-1,2011-01-28 14:45:00,0.0,NaN,United Kingdom
75227,542551,21282,NaN,-1,2011-01-28 14:46:00,0.0,NaN,United Kingdom
75228,542552,21645,NaN,-1,2011-01-28 14:47:00,0.0,NaN,United Kingdom
75229,542553,21805,NaN,-1,2011-01-28 14:49:00,0.0,NaN,United Kingdom
75230,542554,21836,NaN,-1,2011-01-28 14:49:00,0.0,NaN,United Kingdom
75231,542555,21841,NaN,-1,2011-01-28 14:50:00,0.0,NaN,United Kingdom
75232,542556,22143,NaN,-1,2011-01-28 14:50:00,0.0,NaN,United Kingdom
75233,542557,22765,NaN,-1,2011-01-28 14:50:00,0.0,NaN,United Kingdom
75234,542558,35644,NaN,-1,2011-01-28 14:51:00,0.0,NaN,United Kingdom
75235,542559,35991,NaN,-1,2011-01-28 14:51:00,0.0,NaN,United Kingdom
75236,542560,47579,NaN,-1,2011-01-28 14:51:00,0.0,NaN,United Kingdom
75237,542561,84424A,NaN,-1,2011-01-28 14:52:00,0.0,NaN,United Kingdom
75238,542562,84499,NaN,-1,2011-01-28 14:52:00,0.0,NaN,United Kingdom
75239,542563,84509F,NaN,-1,2011-01-28 14:52:00,0.0,NaN,United Kingdom
75240,542564,84526,NaN,-1,2011-01-28 14:52:00,0.0,NaN,United Kingdom
75241,542565,84664,NaN,-1,2011-01-28 14:52:00,0.0,NaN,United Kingdom
75242,542566,84964B,NaN,-1,2011-01-28 14:53:00,0.0,NaN,United Kingdom
75243,542567,84975,NaN,-1,2011-01-28 14:53:00,0.0,NaN,United Kingdom
75252,542569,85028L,NaN,-1,2011-01-28 14:53:00,0.0,NaN,United Kingdom
75253,542570,85028S,NaN,-1,2011-01-28 14:53:00,0.0,NaN,United Kingdom
75254,542571,85031C,NaN,-1,2011-01-28 14:54:00,0.0,NaN,United Kingdom
75255,542572,85064,NaN,-1,2011-01-28 14:54:00,0.0,NaN,United Kingdom
75256,542573,85110,NaN,-1,2011-01-28 14:55:00,0.0,NaN,United Kingdom
75257,542574,85119,NaN,-1,2011-01-28 14:55:00,0.0,NaN,United Kingdom
75258,542575,85126,NaN,-1,2011-01-28 14:55:00,0.0,NaN,United Kingdom
75259,542576,85179B,NaN,-1,2011-01-28 14:56:00,0.0,NaN,United Kingdom
75260,542577,85232B,NaN,-1,2011-01-28 14:56:00,0.0,NaN,United Kingdom
75292,542579,90000C,NaN,-1,2011-01-28 14:57:00,0.0,NaN,United Kingdom
75293,542580,90095,NaN,-1,2011-01-28 14:58:00,0.0,NaN,United Kingdom
75294,542581,90091,NaN,-1,2011-01-28 14:58:00,0.0,NaN,United Kingdom
75295,542582,DCGS0057,NaN,-6,2011-01-28 15:01:00,0.0,NaN,United Kingdom
77754,542783,21690,NaN,4,2011-02-01 10:02:00,0.0,NaN,United Kingdom
77755,542784,84795C,NaN,3,2011-02-01 10:04:00,0.0,NaN,United Kingdom
78424,542879,22242,NaN,-19,2011-02-01 12:52:00,0.0,NaN,United Kingdom
78425,542880,22242,NaN,10,2011-02-01 12:53:00,0.0,NaN,United Kingdom
78456,542882,22162,NaN,-40,2011-02-01 12:55:00,0.0,NaN,United Kingdom
78457,542883,21448,NaN,-40,2011-02-01 13:07:00,0.0,NaN,United Kingdom
78458,542884,84748,NaN,-52,2011-02-01 13:08:00,0.0,NaN,United Kingdom
78459,542885,84465,NaN,-6,2011-02-01 13:08:00,0.0,NaN,United Kingdom
79459,542965,35400,NaN,2,2011-02-02 11:22:00,0.0,NaN,United Kingdom
80054,543014,47591B,NaN,1,2011-02-02 13:36:00,0.0,NaN,United Kingdom
80302,543034,85049F,NaN,-130,2011-02-02 15:50:00,0.0,NaN,United Kingdom
80303,543035,35004C,NaN,-206,2011-02-02 15:51:00,0.0,NaN,United Kingdom
80659,543049,79063C,NaN,320,2011-02-03 10:09:00,0.0,NaN,United Kingdom
80665,543051,79062D,NaN,960,2011-02-03 10:15:00,0.0,NaN,United Kingdom
81800,543176,22353,NaN,60,2011-02-04 09:52:00,0.0,NaN,United Kingdom
82251,543194,21355,NaN,-217,2011-02-04 12:25:00,0.0,NaN,United Kingdom
82610,543238,22833,NaN,1,2011-02-04 13:42:00,0.0,NaN,United Kingdom
82769,543254,35645,NaN,18,2011-02-04 15:40:00,0.0,NaN,United Kingdom
82795,543258,84611B,NaN,1287,2011-02-04 16:06:00,0.0,NaN,United Kingdom
82798,543261,84613C,NaN,-173,2011-02-04 16:08:00,0.0,NaN,United Kingdom
82827,543265,84872A,NaN,-4,2011-02-04 17:23:00,0.0,NaN,United Kingdom
82828,543266,82095,NaN,-5,2011-02-04 17:24:00,0.0,NaN,United Kingdom
82829,543267,35645,NaN,3,2011-02-04 17:24:00,0.0,NaN,United Kingdom
82830,543268,84306,NaN,3,2011-02-04 17:24:00,0.0,NaN,United Kingdom
82831,543269,84638,NaN,-18,2011-02-04 17:25:00,0.0,NaN,United Kingdom
82832,543270,84631,NaN,-19,2011-02-04 17:25:00,0.0,NaN,United Kingdom
82833,543271,21087,NaN,-6,2011-02-04 17:26:00,0.0,NaN,United Kingdom
83504,543308,35969,NaN,-3,2011-02-07 12:04:00,0.0,NaN,United Kingdom
83562,543310,35954,NaN,-234,2011-02-07 12:10:00,0.0,NaN,United Kingdom
84374,543386,16207B,NaN,4,2011-02-08 09:22:00,0.0,NaN,United Kingdom
84409,543390,84880,NaN,-5,2011-02-08 10:02:00,0.0,NaN,United Kingdom
84982,543453,21429,NaN,1,2011-02-08 12:15:00,0.0,NaN,United Kingdom
85486,543471,85150,NaN,118,2011-02-08 15:00:00,0.0,NaN,United Kingdom
85487,543472,22451,NaN,1,2011-02-08 15:01:00,0.0,NaN,United Kingdom
85488,543473,21661,NaN,1,2011-02-08 15:01:00,0.0,NaN,United Kingdom
85787,543521,22769,NaN,-6,2011-02-09 11:49:00,0.0,NaN,United Kingdom
86322,543545,22627,NaN,-11,2011-02-09 15:50:00,0.0,NaN,United Kingdom
86513,543552,22847,NaN,-10,2011-02-10 10:05:00,0.0,NaN,United Kingdom
87404,543654,22525,NaN,-57,2011-02-11 10:29:00,0.0,NaN,United Kingdom
87405,543655,21717,NaN,-42,2011-02-11 10:30:00,0.0,NaN,United Kingdom
87406,543656,84801B,NaN,-44,2011-02-11 10:30:00,0.0,NaN,United Kingdom
88201,543781,21655,NaN,19,2011-02-11 16:36:00,0.0,NaN,United Kingdom
88202,543782,85232B,NaN,6,2011-02-11 16:36:00,0.0,NaN,United Kingdom
88203,543783,20966,NaN,-41,2011-02-11 16:45:00,0.0,NaN,United Kingdom
90556,544046,21785,NaN,-140,2011-02-15 12:34:00,0.0,NaN,United Kingdom
90697,544063,22837,NaN,-9,2011-02-15 13:37:00,0.0,NaN,United Kingdom
90858,544072,22837,NaN,26,2011-02-15 14:32:00,0.0,NaN,United Kingdom
91072,544086,21785,NaN,-7,2011-02-15 16:49:00,0.0,NaN,United Kingdom

It appears that where there is a missing Description and CustomerID the unitprice is 0.0 and the quantity is either positive or negative. We can infer that these transactions are likely returns from customers and the company has not developed a clear strategy of handling returned items. It would be wise for the company to develop some sort of way to identify returns or faulty transactions so they can be assessed more accurately. However, since there is no explanation for the occurances of these transactions it is best to drop all transactions with missing descriptions and with a unitprice=0. It would also be in our best interest to drop missing CustomerID's as they will not be of use for us if we are looking to make accurate insights for this data analysis.

In [10]:
dat = dat.dropna()
dat.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

Next I would like to determine how many transaction cancellations we have. A cancelled transaction is indicated by a C at the beginning of the InvoiceNo.

In [11]:
dat['cancelled_transactions'] = dat['InvoiceNo'].apply(lambda l: l[0]=='C')
dat['cancelled_transactions']

0         False
1         False
2         False
3         False
4         False
          ...
541904    False
541905    False
541906    False
541907    False
541908    False
Name: cancelled_transactions, Length: 406829, dtype: bool

In [12]:
dat["IsCancelled"]=np.where(dat.InvoiceNo.apply(lambda l: l[0]=="C"), True, False)
dat.IsCancelled.value_counts() / dat.shape[0] * 100

False    97.81112
True      2.18888
Name: IsCancelled, dtype: float64

In [13]:
dat.loc[dat.IsCancelled==True].describe()

           Quantity     UnitPrice
count   8905.000000   8905.000000
mean     -30.859966     18.845519
std     1170.154939    444.366043
min   -80995.000000      0.010000
25%       -6.000000      1.450000
50%       -2.000000      2.950000
75%       -1.000000      4.950000
max       -1.000000  38970.000000

Since we have negative quantities for all quartiles and positive unit prices, understanding the data without any further explanation or information will become too difficult for us to predict so it is best to drop the data from the dataset.

In [14]:
dat.InvoiceNo.nunique()

22190

It appears that there are missing values where the stockcode has a lowercase alphabetical integer rather than an uppercase integer at the end of the stock code causing it to miss the assocation with proper description. I will change it so that the stock code containing the lowercase integer joins the stockcode with the upper case integer by converting all values to uppercase. I will then remove all other values from the dataset that do not contain a description as there is no other way of discerning the proper description without additional information.